# Auto detect text files and perform LF normalization
* text=auto
<h1>Ohio Gozaimasu</h1>
<p>Konichiwa Omaiwa Nusete Yarou</p>
<a href="https:gogoanime.tv" target="_blank" title="Lets watch Hentait">Click me Dingdong!</a>
<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
</head>
<body>
<h1>Ohio Gozaimasu tang na mo</h1>
<p>Konichiwa <b>Omaiwa</b> Nusete Yarou</p>
<a href="https:gogoanime.tv" target="_blank" title="Lets watch Hentai">Click me Dingdong!</a>
<p>My name is:<br>
    tite</p>
<img src="https://static3.cbrimages.com/wordpress/wp-content/uploads/2019/11/Tanjiro-Kamado.jpg">
</body>
</html>
